/* Banner */

*,*::before,*::after{
     //font-family: poppins, sans-serif
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#banner-section{ 
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    height: 800px;
    font-size: 10px;    //scale of reference == 1em
    margin-bottom: 200px;
    
    background: url(../assets/image/banner-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;     
    background-position: center;  

    .container{   
        min-height: 100% !important;
        width: 100% !important;
        background: rgba(4, 9, 30, 0.851);   //overlay bg
        .wlc-txt{
            position: relative;
            padding-top: 20% !important;
            text-align: center !important;
            h3{
                font-size: 1.3em;
                padding: 20px;
            }
            h1{
                font-size: 4.0em;
                font-weight: 600;
                padding: 20px;
            }
            p{
                font-size: 1.4em;
                line-height: 1.65;
                padding: 15px 20px;
                //setting max-width and margin left,right
                // as auto centers the element
                max-width: 750px;   
                margin: 0 auto 2.5em !important;
            }
            a{
                @include btn(1.4em,15px,30px);
                &:focus,&:hover{
                    transition: all 0.3s ease;
                    background: transparent;
                    border: 1px solid #fff;
                }
            }
        }
    }

    .open-hrs{
        top: -25%;
        border: 1px solid #000;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 720px;
        height: 370px !important;
        margin:0 auto 20px !important;

        background: #fff;
        border: 1px solid #fff;
        border-radius: 15px;     
        color: #333;
        box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.05);

        h2{
            font-size: 3.2em;
            margin-top: 40px;
        }
        p{
            font-size: 1.5em;
            padding-top: 20px;
            padding-bottom: 35px;
            color: hsl(0, 0%, 60%);
            text-align: center;
            
        }
        .open-state{  //we are now open text
            width: 200px;
            padding: 8px 2px;
            display: flex;
            align-items: center;
            background: hsl(0, 0%, 95%);
            font-size: 1.2em;
            border: 1px solid #fff;
            font-weight: 600;
            justify-content: center;
            margin: 0px 0 0;
            h3{
                padding-left: 7px;
            }
            
        }
        .days-time{
            display: flex;
            flex-direction: row;
            line-height: 2;
            margin-top: 30px;
            font-size: 14px;
            color: hsl(0, 0%, 60%);

            li{
                list-style: none;
            }
            .time{
                .colon{
                    margin-right: 30px !important;
                    margin-left: 10px !important;
                }

            }
        }
    }

}


//media queries
@media screen and (min-width:599px){
    #banner-section{
        .container{
            .wlc-txt{
                padding-top: 10% !important;
            }
        }
        .open-hrs{
            max-width: 84.4% !important;
        }
    }
}
@media screen and (min-width:1279px){
    #banner-section{
        .open-hrs{
            top: -25%;
        }
    }
}