

#consultants-section{
    text-align: center;
    margin: 30px 0;
    background-color: #f9f9ff;
    line-height: 1.65;
    .h1_and_p{
        padding: 1rem 0;
        h1{
            font-size: 1.25rem;
        }
        p{
            font-size:0.8rem;
            padding: 1rem 5%;
        }
    }
    .cards{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4,1fr);
        grid-row-gap: 16px;
        padding: 30px 5%;

        .card{
            display: block;
            // flex-direction: column;
            width: 270px;
            height: 300px !important;
            position: relative;
            border: 1px solid #f9f9ff;
            border-radius: 10px;
            background: #000;
            margin: 0 auto;
            
            .img{
                background: #fff;
                width: 100%;
                img{
                    width: 100%;
                }
            }
    
            .overlay{
                position: absolute;
                top:0;
                bottom: 0;
                right: 0;
                left: 0;
                height: 100%;
                width: 100%;
                opacity: 0;
                transition: .5s ease;
                background-image: linear-gradient(0deg,rgba(222, 231, 195, 0.8) 100%,rgba(219, 221, 217, 1) 0%);
                h4{
                    font-size: 14px;
                    margin-top: 40%;
                    font-weight: 700;
                }
                h5{
                    font-size: 13px;
                    font-weight: 600;
                }
                p{
                    font-size: 12px;
                    padding: 1rem;
                    font-weight: 500;
                }

                &:hover{
                    cursor: pointer;
                    opacity: 1;
                }
            }
        }
    }
}

@media screen and (min-width:700px){
    #consultants-section{
        .cards{
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows:  1fr;
            grid-gap: 1em !important;
            padding: 30px 5%;

            //flex and justify end to center.
            .card{
                width: 270px;
                height: 300px !important;
                margin: 0 0 !important;
                display: flex;
                &:nth-child(even){
                    justify-self:start;
                }
                &:nth-child(odd){
                    justify-self:end;
                }
            }
        }
    }
}

@media screen and (min-width:1280px){
    #consultants-section{
        .cards{
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 1em !important;
            padding: 30px 7%;

            //flex and justify end to center.
            .card{  
                display: flex; 
                justify-self: center;

                // margin: 0 auto !important;
                &:nth-child(even){
                    justify-self:unset;
                }
                &:nth-child(odd){
                    justify-self:unset;
                } 
            }
        }
    }
}

@media screen and (min-width: 1400px){
    #consultants-section{
        .cards{
            padding: 30px 10%;
        }
    }
}