@mixin h2-kindred {
    font-size: 1.25rem;
    text-align: center;
    padding-bottom: 16px;

}

@mixin h3-kindred {
    font-size: .8rem;
    text-align: center;
    font-weight: 400;
}

@mixin image-kindred {
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@mixin in-detail {
    color: rgb(107, 97, 97);
    font-size: .9rem;
    padding-top: 8px;
    font-weight: 300;
    line-height: 1.5;
   }


#offer-section{
    padding: 32px 16px 64px 16px;
   h2{
   
    @include h2-kindred();
    }

   h3{

      @include h3-kindred();
   }

   #offer-album{
       margin-top: 32px;
       >div[id *="offer-"]{
           width: 100%;
           margin-bottom: 32px;

           .offer-img{

               @include image-kindred();
           }

           .first{
                background-image: url(/assets/image/pexels-anna-shvets-3845653.jpg);
           }

           .second{
                background-image: url(/assets/image/pexels-robert-golebiewski-3663999.jpg);
           }
           
           .third{
                background-image: url(/assets/image/pexels-anna-shvets-3845653.jpg);
           }
           
           .fourth{
                background-image: url(/assets/image/pexels-robert-golebiewski-3663999.jpg);
           }

           .offer-header{
               font-weight: 700;
               font-size: 1rem;
               padding-top: 8px;
           }
           .offer-in-detail{
               @include in-detail();
           }

       }
   }
}



    @media screen and (min-width: 800px){
        #offer-album{
            padding-left: 10%;
            padding-right: 10%;
            display: grid !important;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 16px;      
        }
       
    }    



@media screen and (min-width: 1300px){
    #offer-album{
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 32px;   

        .offer-in-detail{
            line-height: 2 !important;
        }
    }
}